<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{beer.name}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>

<body>
    <div class="d-flex flex-column" style="min-height: 100vh; 
    background-image: url(../static/img/beer-glass.jpg); 
    background-size:cover;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            <a class="navbar-brand fs-1 text-light mx-3" href="/">
                <span class="text-success">G</span>reen
                <span class="text-success">G</span>uzzler
            </a>
            <button class="navbar-toggler bg-success mx-3" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-end me-3" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/breweries">Breweries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/beers">Beers</a>
                    </li>
                    {% if user %}
                    <li class="nav-item">
                        <a class="nav-link" href="/">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/{{user.id}}/account">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="p-3 d-flex flex-column align-items-center justify-content-start">
            <div class="container text-center text-light" style="text-shadow: 0 0 1rem white;">
                <h3 class="display-3">{{beer.name}}</h3>
            </div>
            <div class="container d-flex gap-4 my-3 text-light">
                <div class="container rounded shadow-sm pb-3" style="background-color: rgba(0, 0, 0, 0.411);">
                    <h2 class="display-5 text-success">Information</h2>
                    <div class="d-flex justify-content-between h-100">
                        <div class="w-50 d-flex flex-column justify-content-between">
                            <div class="h-25">
                                <h5>Name:</h5>
                                <p>{{beer.name}}</p>
                            </div>
                            <div class="h-25">
                                <h5>Brewery:</h5>
                                <a href="#" class="text-decoration-none text-reset">{{beer.brewery}}</a>
                            </div>
                            <div class="h-25">
                                <h5>Style:</h5>
                                <p>{{beer.type}}</p>
                            </div>
                            <div class="h-25">
                                <h5>ABV:</h5>
                                <p>{{beer.abv}}%</p>
                            </div>
                        </div>
                        <div class="w-50 d-flex flex-column justify-content-between">
                            <div class="h-25">
                                <h5>Tasted by:</h5>
                                <p>{{beer.tasters}} user(s)</p>
                            </div>
                            <div class="h-25">
                                <h5>Avg. Cost Rating:</h5>
                                <p>{{'$'*beer.cost}}</p>
                            </div>
                            <div class="h-25">
                                <h5>Avg. Taste Rating:</h5>
                                <p>{{beer.taste}}</p>
                            </div>
                            <div class="h-25">
                                <h5>Avg. Value Rating:</h5>
                                <p>{{beer.val}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <form class="w-50" action="/beers/{{beer.id}}" method="POST">
                    <div class="container rounded shadow-sm pb-3" style="background-color: rgba(0, 0, 0, 0.411);">
                        <h2 class="display-5 text-success">Rate This Beer</h2>
                        <div class="form-group">
                            <label class="form-label" for="cost">Cost:</label>
                            <output>$$$</output>
                            <input class="form-range" type="range" name="cost" id="cost" min="1" max="5" step="1"
                                value="3" oninput="this.previousElementSibling.value = '$'.repeat(this.value)">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="taste">Taste:</label>
                            <output>50</output>
                            <input class="form-range" type="range" name="taste" id="taste" min="1" max="100" step="1"
                                value="50" oninput="this.previousElementSibling.value = this.value">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="val">Value:</label>
                            <output>50</output>
                            <input class="form-range" type="range" name="val" id="val" min="1" max="100" step="1"
                                value="50" oninput="this.previousElementSibling.value = this.value">
                        </div>
                    </div>
                    <div class="d-flex w-100 justify-content-center">
                        <input class="btn btn-success my-3 w-50 fs-3" type="submit" value="Rate Beer">
                    </div>
                    <div class="container rounded shadow-sm pb-3" style="background-color: rgba(0, 0, 0, 0.411);">
                        <h5 class="display-5 text-success">Posted by:</h5>
                        <div class="d-flex align-items-center justify-content-around">
                            <p class="fs-4 text-center">{{beer.poster_first_name}} {{beer.poster_last_name}}</p>
                            <img src="{{url_for('static', filename='img/avatars/'+ beer.poster_avatar)}}"
                                class="img-thumbnail"
                                style="height: 8.75rem; width: 8.75rem; object-fit: cover; border-radius: 50%;" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>